.burger {
  display: none;
  width: rem(32);
  height: rem(32);

  @include small-tablet {
    display: block;
  }

  &__line {
    position: relative;
    display: flex;
    width: 100%;
    height: rem(2);
    background-color: var(--color-white);
    border-radius: var(--radius-100);
    transition: background-color var(--animation-timing) var(--animation-transition), transform var(--animation-timing) var(--animation-transition);

    &::before {
      content: '';
      position: absolute;
      bottom: rem(-10);
      left: 0;
      width: 100%;
      height: rem(2);
      background-color: var(--color-white);
      border-radius: var(--radius-100);
      transition: transform var(--animation-timing) var(--animation-transition), top var(--animation-timing) var(--animation-transition);
    }

    &::after {
      content: '';
      position: absolute;
      top: rem(-10);
      left: 0;
      width: 100%;
      height: rem(2);
      background-color: var(--color-white);
      border-radius: var(--radius-100);
      transition: transform var(--animation-timing) var(--animation-transition), top var(--animation-timing) var(--animation-transition);
    }
  }

  &.burger--active {
    & .burger__line {
      transform: rotate(360deg);
      background-color: transparent;

      &::after {
        top: 0;
        transform: rotate(45deg);
      }

      &::before {
        bottom: 0;
        transform: rotate(-45deg);
      }
    }
  }
}
