.header {
  padding: rem(15) 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: var(--color-header);

  & .logo {
    display: none;
  }

  @include small-tablet {
    & {
      display: flex;
      height: rem(125);
    }

    & .logo {
      display: block;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: rem(15);

    @include small-tablet {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .logo {
      display: block;
    }

    @include small-tablet {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: rem(25);

    &-inner {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: rem(5);
    }
  }

  &__stripe {
    width: 100%;
    height: rem(2);
    background-color: var(--color-black);
    border-radius: var(--radius-100);

    @include small-tablet {
      display: none;
    }
  }

  &__menu {
    & .header__stripe,
    & .address,
    & .phone,
    & .social,
    & .signup {
      display: none;
    }

    @include small-tablet {
      padding: rem(25) rem(30);
      position: fixed;
      top: rem(125);
      left: -100%;
      width: 100%;
      height: calc(var(--vh) - rem(125));
      z-index: 200;
      opacity: 0;
      visibility: hidden;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: rem(25);
      background-color: var(--color-midnight-blue);
      overflow-y: auto;
      transition: opacity var(--animation-timing) var(--animation-transition), visibility var(--animation-timing) var(--animation-transition), left var(--animation-timing) var(--animation-transition);

      &.menu--active {
        left: 0;
        opacity: 1;
        visibility: visible;
      }

      & .nav__list {
        flex-direction: column;
        gap: rem(20);
      }

      & .header__stripe,
      & .address,
      & .phone,
      & .social,
      & .signup {
        display: block;
      }

      & .address {
        text-align: center;
      }

      & .social {
        display: flex;
      }
    }
  }
}
