.question {
  padding: rem(50) 0;
  background-color: var(--color-jordy-blue);

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: rem(25);
  }

  &__title {
    font-size: rem(28);
    font-weight: 600;
    color: var(--color-black);
    text-align: center;
  }

  &__form {
    max-width: rem(560);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(10);

    &-label {
      width: 100%;

      &-input {
        padding: rem(10) rem(10) rem(10) rem(20);
        width: 100%;
        height: rem(56);
        border: none;
        outline: none;
        border-radius: var(--radius-10);

          &::-webkit-input-placeholder {
            opacity: 1;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &::-moz-placeholder {
            opacity: 1;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:-moz-placeholder {
            opacity: 1;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:-ms-input-placeholder {
            opacity: 1;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:focus::-moz-placeholder {
            opacity: 0;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:focus:-moz-placeholder {
            opacity: 0;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:focus:-ms-input-placeholder {
            opacity: 0;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }
      }

      &-textarea {
        padding: rem(10) rem(10) rem(10) rem(20);
        width: 100%;
        border: none;
        outline: none;
        border-radius: var(--radius-10);

        &::-webkit-input-placeholder {
            opacity: 1;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &::-moz-placeholder {
            opacity: 1;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:-moz-placeholder {
            opacity: 1;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:-ms-input-placeholder {
            opacity: 1;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:focus::-moz-placeholder {
            opacity: 0;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:focus:-moz-placeholder {
            opacity: 0;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }

          &:focus:-ms-input-placeholder {
            opacity: 0;
            transition: opacity var(--animation-timing) var(--animation-transition);
          }
      }
    }


    &-button {
      width: 100%;
      height: rem(56);
      font-size: rem(18);
      font-weight: 600;
      color: var(--color-white);
      background-color: var(--color-midnight-blue);
      border-radius: var(--radius-10);
      transition: color var(--animation-timing) var(--animation-transition), background-color var(--animation-timing) var(--animation-transition);

      &:hover {
        background-color: var(--color-downy);
        color: var(--color-midnight-blue);
      }
    }
  }

}
