.signup {
  padding: rem(10) rem(20);
  font-size: rem(18);
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-downy);
  border: 1px solid var(--color-midnight-blue);
  border-radius: var(--radius-100);
  transition:
    background-color var(--animation-timing) var(--animation-transition),
    color var(--animation-timing) var(--animation-transition),
    border-color var(--animation-timing) var(--animation-transition);

  &:hover {
    color: var(--color-downy);
    background-color: var(--color-midnight-blue);
    border-color: var(--color-downy);
  }
}
