<nav class="nav" title="Навигация по сайту">
  <ul class="list-reset nav__list">
    <li class="nav__item"><a href="#about" class="nav__link" data-scroll data-menu-item>О нас</a></li>
    <li class="nav__item"><a href="#directions" class="nav__link" data-scroll data-menu-item>Направления</a></li>
    <li class="nav__item"><a href="#price" class="nav__link" data-scroll data-menu-item>Стоимость</a></li>
    <li class="nav__item"><a href="#question" class="nav__link" data-scroll data-menu-item>Анкета</a></li>
    <li class="nav__item"><a href="#contacts" class="nav__link" data-scroll data-menu-item>Контакты</a></li>
  </ul>
</nav>
