<ul class="list-reset social" title="Социальные сети и месенджеры">
  <li class="social__item">
    <a href="https://t.me/Maryia_Podenko" target="_blank" class="social__link social__link--tg" aria-label="Наш телеграм">
      <img loading="lazy" src="img/telegram.svg" class="social__link-image" width="30" height="30" alt="Иконка телеграм">
    </a>
  </li>
  <li class="social__item">
    <a href="whatsapp://send?phone=+79151611144" target="_blank" class="social__link social__link--wp" aria-label="Наш whatsapp">
      <img loading="lazy" src="img/whatsapp.svg" class="social__link-image" width="30" height="30" alt="Иконка whatsapp">
    </a>
  </li>
</ul>
