<section class="about" id="about">
  <div class="container">
    <h2 class="about__title">О нас</h2>
    <ul class="about__list list-reset">
      <li class="about__item">
        <p class="about__item-description">
          Студия «Эмоция» — это место, созданное для поддержки и развития детей разного возраста. Здесь реализуется комплексный подход к развитию детей, учитывая их индивидуальные потребности и особенности.
        </p>
      </li>
      <li class="about__item">
       <div class="about__item-wrap">
        <img class="about__item-wrap--pick" src="/img/pick.svg" alt="картинка динозавра">
       </div>
        <p class="about__item-description">
          В студии предлагаются разнообразные программы и занятия, направленные на стимуляцию физического, психологического и социального развития детей. Это могут быть занятия по развитию мелкой моторики, логическому мышлению, творчеству, а также тренировки по развитию коммуникативных навыков и социализации.
        </p>
    </li>
      <li class="about__item">
        <div class="about__item-wrap">
          <img class="about__item-wrap--pick" src="/img/pick.svg" alt="картинка динозавра">
         </div>
        <p class="about__item-description">
          Специалисты работают с каждым ребенком индивидуально, помогая ему раскрыть свой потенциал и научиться эффективно адаптироваться к окружающей среде.
        </p>
      </li>
      <li class="about__item">
        <div class="about__item-wrap">
          <img class="about__item-wrap--pick" src="/img/pick.svg" alt="картинка динозавра">
         </div>
        <p class="about__item-description">
          Цель нашего центра создать благоприятную и поддерживающую среду для каждого ребенка, помогая им вырасти в уверенных и успешных личностей.
        </p>
      </li>
    </ul>
  </div>
</section>








