<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__map">
      <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2312f32e8fb5ec791fae0c423438df9b1125f069d2d2255ca1bd31fc101e2eba&amp;source=constructor" width="100%" height="500" frameborder="0"></iframe>
    </div>
    <div class="contacts__info">
      <ul class="contacts__list list-reset">
        <li class="contacts__item">
          <p class="contacts__item-address">
            Москва, Ряжская ул., 13
          </p>
          <p class="contacts__item-address">
            корп. 1, этаж 2, кабинет 201-7
          </p>
        </li>
        <li class="contacts__item">
          @include('globals/phone.html')
        </li>
        <li class="contacts__item">
          @include('globals/email.html')
        </li>
        <li class="contacts__item">
          @include('globals/social.html')
        </li>
      </ul>
    </div>
  </div>
</section>
