<section class="directions" id="directions">
  <div class="container directions__container">
    <div class="directions__accordion">
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger btn-reset mobile-tap">
            Развивающие занятия для детей от 3 до 5 лет

            <span class="minus-plus"></span>
          </button>
        </h2>
        <div class="ac-panel">
          <span class="ac-text">
            <p class="ac-text-decr">
              Развивающие занятия играют важную роль в их обучении и развитии.
              Эти занятия помогают детям развивать различные навыки, такие как моторика, креативное мышление,
              коммуникативные навыки,
              память и концентрация. Занятия проходят в игровой форме, что делает их увлекательными и интересными.
            </p>
          </>
        </div>
      </div>
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger btn-reset mobile-tap">
            Мини-группа для особых детей от 3 до 7 лет

            <span class="minus-plus"></span>
          </button>
        </h2>
        <div class="ac-panel">
          <span class="ac-text">
            <p class="ac-text-decr">
              Данная группа предназначена для детей с различными особенностями - от нарушений поведения до комплексных нарушений
              развития, включая расстройства аутистического спектра (РАС), интеллектуальные нарушения (УО), задержку психического
              развития(ЗПР), нарушения речи (ТНР).
              Основная идея - это социальная адаптация и освоение навыков, необходимых для повседневной жизни.
            </p>
            <p class="ac-text-decr">
              Всесторонний подход и поддерживающая атмосфера позволяют каждому ребенку овладеть начальными академическими знаниями и
              стать более самостоятельными.
            </p>
          </span>
        </div>
      </div>
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger btn-reset mobile-tap">
            Подготовка к школе для детей от 5 до 7 лет

            <span class="minus-plus"></span>
          </button>
        </h2>
        <div class="ac-panel">
          <span class="ac-text">
            <p class="ac-text-decr">
              Занятия по подготовке к школе помогают детям приобрести необходимые навыки и знания для успешного старта в
              образовательном процессе. Они способствуют развитию когнитивных функций, мелкой моторики, речи, внимания и памяти,
              адаптации к учебной среде, формированию навыков самостоятельности, социальной адаптации и других ключевых навыков,
              необходимых для полноценного обучения в школе. Кроме того, занятия по подготовке к школе могут помочь предупредить
              возможные трудности и улучшить общую успеваемость в дальнейшем.
            </p>
          </span>
        </div>
      </div>
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger btn-reset mobile-tap">
            Услуги психолога

            <span class="minus-plus"></span>
          </button>
        </h2>
        <div class="ac-panel">
          <span class="ac-text">
            <p class="ac-text-decr">
              Психолог — это специалист, который работает с детьми разного возраста для помощи им в развитии, адаптации и решении
              психологических проблем. Проводит диагностику психологического состояния ребенка, определяет его потребности и
              особенности развития. На основе этой информации разрабатывает индивидуальный план развития, а также консультирует
              родителей по вопросам воспитания и поддержки ребенка.
            </p>
          </span>
        </div>
      </div>
      <div class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger btn-reset mobile-tap">
            Услуги дефектолога

            <span class="minus-plus"></span>
          </button>
        </h2>
        <div class="ac-panel">
          <span class="ac-text">
            <p class="ac-text-decr">
              Дефектолог — это специалист, который занимается развитием детей с особыми возможностями здоровья, такими как дети с
              нарушениями речи, умственным или физическим развитием. Занятия с детьми проводятся в индивидуальной или групповой форме,
              с учетом специфики каждого ребенка.
              Во время занятий дефектолог использует специальные методики и техники, направленные на развитие общих и
              специализированных навыков у детей с особыми потребностями. Он помогает детям улучшить коммуникативные навыки, развить
              память, внимание, мышление, моторику, адаптироваться к окружающей среде и общаться со сверстниками.
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
