<header class="header">
  <div class="container header__container">
    <div class="header__top">
      @include('globals/logo.html')

      <div class="header__wrapper">
        @include('globals/social.html')

        <div class="header__wrapper-inner">
          @include('globals/address.html')
          @include('globals/phone.html')
        </div>

        <a class="header__button btn-reset" href="#">
          Записаться
        </a>
      </div>
    </div>

    <div class="header__stripe"></div>
    @include('globals/navigation.html')
  </div>
</header>
