<section class="hero">
  <picture>
    <source srcset="img/hero/hero.webp" type="image/webp">
    <img loading="lazy" src="img/hero/hero.jpg" class="hero__image" alt="Фон секции">
  </picture>

  <div class="container hero__container">
    <h1 class="hero__title">
      Студия детского развития и адаптации
    </h1>
    <p class="hero__description">
      «Эмоция» — это современное пространство, где ваши дети получат не только всестороннее развитие, академические и бытовые
      знания, но и активную коммуникацию со сверстниками
    </p>
  </div>
</section>
