<section class="price" id="price">
  <div class="container price__container">
    <h2 class="price__title">Стоимость</h2>
    <div class="swiper price__swiper">
      <div class="swiper-wrapper">
        <div class="price__swiper-slide swiper-slide">

          <img class="price__swiper-slide-pick" src="/img/car.png" alt="картинка машинки">

          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Развивающие занятия для детей от 3 до 5 лет</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Вторник /  Пятница / Суббота</p>
            </li>
            <!-- <li class="price__item">
              <p class="price__item-description">15:30-16:30</p>
            </li> -->
            <li class="price__item">
              <p class="price__item-description">Группа (до 8 человек) / 750 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Индивидуально / 1500 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">60 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <img class="price__swiper-slide-pick price__swiper-slide-pick-one" src="/img/right.png" alt="картинка правого">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Занятия для особых детей от 3 до 7 лет.</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Вторник / Пятница</p>
            </li>
            <!-- <li class="price__item">
              <p class="price__item-description">15:30 - 17:00</p>
            </li> -->
            <li class="price__item">
              <p class="price__item-description">Группа (до 5 детей) / 1000 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Индивидуально / 1500 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">60 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <img class="price__swiper-slide-pick" src="/img/plate.png" alt="картинка машинки">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Подготовка к школе для детей от 5 до 7 лет</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник /  Четверг </p>
            </li>
            <!-- <li class="price__item">
              <p class="price__item-description">17:30 / 19:00</p>
            </li> -->
            <li class="price__item">
              <p class="price__item-description">Группа (до 8 детей)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">750 руб / Лого-группа 850 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">1 час 30 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <img class="price__swiper-slide-pick price__swiper-slide-pick-one " src="/img/stroller.png" alt="картинка машинки">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Репетитор (1-4 класс)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник - Суббота</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">День / Вечер</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Индивидуально</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">1300 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">60 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <img class="price__swiper-slide-pick" src="/img/whale.png" alt="картинка машинки">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Психолог</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник - Суббота</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Утро / День / Вечер</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Индивидуально</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">3000 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">60 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <img class="price__swiper-slide-pick" src="/img/dragon.png" alt="картинка машинки">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Дефектолог</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник - Суббота</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Утро / День / Вечер</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Индивидуально</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">3000 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">60 минут</p>
            </li>
          </ul>
        </div>

        <div class="price__swiper-slide swiper-slide">
          <img class="price__swiper-slide-pick price__swiper-slide-pick-one" src="/img/right.png" alt="картинка правого">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Группа кратковременного пребывания (ГКП)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник - Пятница</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">09:00 - 13:00</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Группа (до 8 детей)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">1000 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">4 часа</p>
            </li>
          </ul>
        </div>
      </div>

      <button class="price__button price__button-prev btn-reset mobile-tap js-button-prev">
        <svg class="price__button-image price__button-image-prev">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button class="price__button price__button-next btn-reset mobile-tap js-button-next">
        <svg class="price__button-image price__button-image-next">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
