<section class="price">
  <div class="container price__container">
    <div class="swiper price__swiper">
      <div class="swiper-wrapper">
        <div class="price__swiper-slide swiper-slide">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description">Развивающие занятия для детей от 3 до 5 лет</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник, Среда, Пятница</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Утро</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Индивидуально / Группа (до 8 человек)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">1300 руб / 650 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">45 минут / 50 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description">Мини-группа для особых детей от 3 до 7 лет.</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник - Суббота</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">09:00 – 11:00 (12:30) / 15:30 - 17:30 (19:00)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Группа (до 5 детей)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">1700 руб / 2500 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">2 часа / 3 часа 30 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">

        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <!-- <table>
      <tr>
        <th>Название</th>
        <th>День недели</th>
        <th>Время</th>
        <th>Форма</th>
        <th>Цена</th>
        <th>Кол-во занятий</th>
      </tr>
      <tr>
        <td>Развивающие занятия для детей от 3 до 5 лет</td>
        <td>Пн, Ср, Пт</td>
        <td>Утро</td>
        <td>Индивидуально</td>
        <td>1300</td>
        <td>45 минут</td>
      </tr>
      <tr>
        <td rowspan="2">Развивающие занятия для детей от 3 до 5 лет</td>
        <td>Пн, Ср, Пт</td>
        <td>Группа (до 8 человек)</td>
        <td>650</td>
        <td>50 минут</td>
      </tr>
      <tr>
        <td>Пн, Ср, Пт</td>
        <td>Группа (до 5 детей)</td>
        <td>1700</td>
        <td></td>
      </tr>
      <tr>
        <td rowspan="2">Мини–группы для особых детей от 3 до 7 лет</td>
        <td>Пн, Ср, Пт</td>
        <td>15:30 – 19:30</td>
        <td>Группа (до 5 детей)</td>
        <td>2500</td>
        <td>1 час 30 минут</td>
      </tr>
      <tr>
        <td>Вт, Чт, Сб</td>
        <td>09:00 – 11:00</td>
        <td>Группа (до 5 детей)</td>
        <td>1700</td>
        <td>1 час</td>
      </tr>
    </table> -->
  </div>
</section>
