<section class="price" id="price">
  <div class="container price__container">
    <h2 class="price__title">Стоимость</h2>
    <div class="swiper price__swiper">
      <div class="swiper-wrapper">
        <div class="price__swiper-slide swiper-slide">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Развивающие занятия для детей от 3 до 5 лет</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник, Среда, Пятница</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Утро</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Индивидуально / Группа (до 8 человек)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">1300 руб / 650 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">45 минут / 50 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Мини-группа для особых детей от 3 до 7 лет.</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник - Суббота</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">09:00 – 11:00 (12:30) / 15:30 - 17:30 (19:00)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Группа (до 5 детей)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">1700 руб / 2500 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">2 часа / 3 часа 30 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Подготовка к школе для детей от 5 до 7 лет</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник, Среда, Пятница</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Утро</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Группа (до 8 детей)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">650 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">1 час 30 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Репетитор (1-4 класс)</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Суббота</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">С 15:00</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Индивидуально</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">1300 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">60 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Психолог</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Понедельник, Среда, Пятница, Суббота</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Утро / Вечер</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Индивидуально</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">3000 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">60 минут</p>
            </li>
          </ul>
        </div>
        <div class="price__swiper-slide swiper-slide">
          <ul class="price__list list-reset">
            <li class="price__item">
              <p class="price__item-description price__item-description--title">Дефектолог</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Вторник, Четверг, Суббота</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">День</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">Индивидуально</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">3000 руб</p>
            </li>
            <li class="price__item">
              <p class="price__item-description">60 минут</p>
            </li>
          </ul>
        </div>
      </div>

      <button class="price__button price__button-prev btn-reset mobile-tap js-button-prev">
        <svg class="price__button-image price__button-image-prev">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button class="price__button price__button-next btn-reset mobile-tap js-button-next">
        <svg class="price__button-image price__button-image-next">
          <use xlink:href="img/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
