<section class="question" id="question">
  <div class="container question__container">
    <h2 class="question__title">
      Запишитесь в группу или на консультацию сейчас!
    </h2>

    <form class="question__form js-validate-form">
      <label class="question__form-label">
        <input class="question__form-label-input input-name" type="text" name="name" placeholder="Введите ФИО" required>
      </label>
      <label class="question__form-label">
        <input class="question__form-label-input input-email" type="mail" name="email" placeholder="Введите email" required>
      </label>
      <label class="question__form-label">
        <input class="question__form-label-input input-tel" type="tel" name="phone" placeholder="Введите телефон" required>
      </label>
      <label class="question__form-label">
        <textarea class="question__form-label-textarea textarea-description" name="description" cols="30" rows="4" placeholder="Информация о ребёнке" required></textarea>
      </label>
      <label class="question__form-label">
        <input class="question__form-label-input input-question" type="text" name="question" placeholder="Напишите ваш вопрос" required>
      </label>
      <button class="question__form-button btn-reset mobile-tap" type="submit">Отправить заявку</button>
    </form>
  </div>
</section>

