@font-face {
  font-family: 'Philosopher';
  src: url('../fonts/Philosopher/philosopher.woff2') format('woff2'),
    url('../fonts/Philosopher/philosopher.woff') format('woff'),
    url('../fonts/Philosopher/philosopher.ttf') format('ttf'),
    url('../fonts/Philosopher/philosopher.eot') format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Lugatype';
  src: url('../fonts/Lugatype/Lugatype.woff') format('woff'),
    url('../fonts/Lugatype/Lugatype.ttf') format('ttf'),
    url('../fonts/Lugatype/Lugatype.eot') format('eot');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


