:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: #{rem(1200)};
  --container-offset: #{rem(15)};
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-white: #ffffff;
  --color-black: #000000;
  --color-midnight-blue: #221e78;
  --color-downy: #6fcac7;

  // border-radius
  --radius-100: #{rem(100)};

  // animation
  --animation-timing: .3s;
  --animation-transition: ease-in-out;
}
